<%- include('../partials/header') %>
<div class="orders-btn-div">
  <a href="/users/orders/<%= user._id %>"
    ><button class="orders-btn">
      <i class="fi fi-bs-list"></i> All orders
    </button></a
  >
  <a href="/users/orders/sold/<%= user._id %>"
    ><button class="orders-btn">
      <i class="fi fi-rr-sack-dollar"></i> Sold Items
    </button></a
  >
  <a href="/users/orders/purchased/<%= user._id %>"
    ><button class="orders-btn">
      <i class="fi fi-rs-cart-arrow-down"></i> Purchased Items
    </button></a
  >
</div>
<% if(user.orders.length <= 0) { %>
<div class="alert">No Orders Yet :D</div>
<% } %>
<div class="past-orders-container">
  <% for(let i = 0; i < user.orders.length; i++) { %> <%
  if(!user.orders[i].seller._id.equals(user._id)) { %>
  <div class="order-card">
    <img src="<%= user.orders[i].item.image %>" alt="item image" />
    <div class="order-info">
      <p><%= user.orders[i].item.name %></p>
      <span> Price: BHD <%= user.orders[i].price %> </span>
      <span>Quantity: <%= user.orders[i].qty %></span>
      <span
        >Total amount: BHD <%= Number(user.orders[i].price) *
        Number(user.orders[i].qty) %>
      </span>
      <span>
        Date placed: <%= user.orders[i].createdAt.toLocaleDateString('en-US', {
        month: 'short', year: 'numeric' }) %>
      </span>
      <span> Buyer: <%= user.orders[i].buyer.name %> </span>
      <span> Seller: <%= user.orders[i].seller.name %> </span>
      <span> Order ID: <%= user.orders[i]._id %> </span>
    </div>
  </div>
  <% } %> <% } %>
</div>

<%- include('../partials/footer') %>
