<%- include('../partials/header') %>

<div class="userProfileContainer">
  <img class="avatar" src="<%= user.avatar %>" alt="user avatar" />
  <div>
    <p><i class="fi fi-bs-user"></i> <%= user.name %></p>
    <p><i class="fi fi-bs-envelope"></i> <%= user.email %></p>
    <p>
      <i class="fi fi-sr-user-time"></i>
      User since <%= user.createdAt.toLocaleDateString('en-US', { month:
      'short', year: 'numeric' }) %>
    </p>
  </div>
</div>

<title>My Store</title>
<p>
  <% for (let i = 0; i < items.length; i += 7) { %>
    <section class="row">
      <% for (let j = i; j < i + 7; j++) { %>
        <% if (j < items.length) { %>
          <a href='/items/show/<%= items[j]._id %>' class="white-container" id="item-div">
            <div><img src="<%= items[j].image %>" alt="item image" class="centered-image"></div>
            <div class="item-font-main"><%= items[j].name %></div>
            <div class="price-font-main"><%= items[j].price %></div>
          </a>
          <a href="/items/<%= items[j]._id %>/update" ><button >test </button></a>
          
        <% } %>
      <% } %>
    </section>
  <% } %>
</p>
<%- include('../partials/footer') %>
