<%- include('../partials/header') %>

<div class="userProfileContainer">
  <img class="avatar" src="<%= profile.avatar %>" alt="user avatar" />
  <div>
    <p><i class="fi fi-bs-user"></i> <%= profile.name %></p>
    <p><i class="fi fi-bs-envelope"></i> <%= profile.email %></p>
    <p>
      <i class="fi fi-sr-user-time"></i>
      User since <%= profile.createdAt.toLocaleDateString('en-US', { month:
      'short', year: 'numeric' }) %>
    </p>
  </div>
</div>
<p>
  <section class="row">
      <% for (let i = 0; i < items.length; i += 4) { %>
      <% for (let j = i; j < i + 4; j++) { %>
        <% if (j < items.length) { %>
          <% if(items[j].qty > 0) { %>
          <div class="white-container">
            <a href='/items/show/<%= items[j]._id %>' id="item-div">
              <div><img src="<%= items[j].image %>" alt="item image" class="centered-image"></div>
              <div class="text-container">
              <div class="item-font-main"><%= items[j].name %></div>
              <span class="price-font-BHD ">BHD <span><%= items[j].price %>
              </span> </span>
              <br>
              <% if(user) { %>
                <% if(user._id.equals(profile._id)){%>
              <a href="/items/<%= items[j]._id %>/update" ><button class="update-btn"><i class="fi fi-br-edit"></i> UPDATE </button></a>
              <% } %>
              <% } %>
            </div>
            </a> 
          </div>

       
          <% } %>
        <% } %>
       <% } %>
       <% } %>
      </section>
</p>



<%- include('../partials/footer') %>

