<%- include('../partials/header') %> 
<% if (message) { %>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <%= message %>
</div>
<% }%>
<p>
  <% items.forEach((item) => { %>
  <section>
    <div>image: </div>
    <div><img src="<%= item.image %>" alt="item image"></div>
    <div>Name:</div>
    <div><%= item.name %></div>
    <div>Price: </div>
    <div><%= item.price %></div>
  </section>
</p>

<% }); %>
<%- include('../partials/footer') %> 