<%- include('../partials/header') %> 
<p>
<section>
  <div>image: </div>
  <div><%= item.image %></div>
  <div>Name:</div>
  <div><%= item.name %></div>
  <div>Price: </div>
  <div><%= item.price %></div>
</section>
</p>
<%- include('../partials/footer') %> 