<%- include('../partials/header') %>
<div class="showItemContainer">
  <img
    class="itemShowImg"
    src="<%= item.image %>"
    alt="Item image"
  />
  <div>
    <p class="showItemName">
      <%= item.name %>
    </p>
    <p class="showItemSoldBy"><i class="fi fi-bs-user"></i> <%= item.seller.name %> </p>
    <p class="showItemPrice"><i class="fi fi-bs-tags"></i> Price: <%= item.price %> </p>
    <p><i class="fi fi-sr-info"></i> About this item:</p>
    <p class="showItemAbout">
     <%= item.desc %>
    </p>
    <form action="/order/new">
    <button class="buyItemButton">
      <i class="fi fi-br-basket-shopping-simple hidden-icon"></i><span class="hide-buy-text">BUY</span> 
    </button>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>
